<!--ADMIN-->
<nav th:fragment="navbar-admin">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">CitySync-Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="dropdown">
            <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" th:href="@{/admin/register-user}">Add User</a></li>
                <li><a class="dropdown-item" th:href="@{/user/project/upload}">Add Project</a></li>
                <li><a class="dropdown-item" th:href="@{/user/meetings/upload}">Add Meetings</a></li>
                <li><a class="dropdown-item" th:href="@{/user/showDepartments}">Show Departments</a></li>
                <li><a class="dropdown-item" th:href="@{/admin/showUsers}">Show Users</a></li>
                <li><a class="dropdown-item" th:href="@{/admin/register-department}">Add Departments</a></li>
                <li><a class="dropdown-item" th:href="@{/user/project/showProjects}">Show Projects</a></li>
                <li><a class="dropdown-item" th:href="@{/admin/showAllMessages}">Show All Messages</a></li>
            </ul>
        </div>
        <a th:href="@{/logout}" id="logout" style="color: inherit; text-decoration: none;">
            <button type="button" class="btn btn-danger">Logout</button>
        </a>
    </nav>
</nav>