.container {
    width: 40%;
}

table {
    text-align: center;
}

#responseBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navItem {
    margin-right: 50px;
}