<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Registration and Login System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
<div th:replace="fragments/nav :: navbar"></div>

<div class="container">
  <div class="row">
    <h1 class="text-center"> Administrator rights </h1>
  </div>
  <button type="button" class="btn btn-primary">
    <a th:href="@{/admin/register-user}" style="color: inherit; text-decoration: none;">Add User</a>
  </button>

  <button type="button" class="btn btn-primary">
    <a th:href="@{/user/project/upload}" style="color: inherit; text-decoration: none;">Add Project</a>
  </button>

  <button type="button" class="btn btn-primary">
    <a th:href="@{/user/meetings/upload}" style="color: inherit; text-decoration: none;">Add Meetings</a>
  </button>
  <button type="button" class="btn btn-primary">
    <a th:href="@{/user/showDepartments}" style="color: inherit; text-decoration: none;">Show Departments</a>
  </button>
  <button type="button" class="btn btn-primary">
    <a th:href="@{/admin/showUsers}" style="color: inherit; text-decoration: none;">Show Users</a>
  </button>
  <button type="button" class="btn btn-primary">
    <a th:href="@{/admin/register-department}" style="color: inherit; text-decoration: none;">Add Departments</a>
  </button>
  <button type="button" class="btn btn-primary">
    <a th:href="@{/user/project/showProjects}" style="color: inherit; text-decoration: none;">Show Projects</a>
  </button>
  <button type="button" class="btn btn-primary">
    <a th:href="@{/user/show-Messages}" style="color: inherit; text-decoration: none;">Show Pending Projects</a>
  </button>
  <button type="button" class="btn btn-primary">
    <a th:href="@{/admin/showAllMessages}" style="color: inherit; text-decoration: none;">Show All Messages</a>
  </button>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>