<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Upload Project</title>
</head>

<body>
<h1 style="justify-content: center">Project & Resource Upload Form</h1>
<div class="container my-40">
    <form th:action="@{/user/project/submit}" method="post" th:object="${projResDTO}" class="row g-3" id="form">
        <div class="col-6">
            <label for="projectName" class="form-label">Project Name</label>
            <input type="text" class="form-control" id="projectName" placeholder="Road Construction"
                   th:field="*{projectName}">
        </div>
        <div class="col-12">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" placeholder="10 Downing Street"
                   th:field="*{location}">
        </div>
        <div class="col-6">
            <label for="department" class="form-label">Owner Department</label>
            <select id="department" class="form-select" th:field="*{departmentid}" required>
                <option value="" selected>Select a Department</option>
                <th:block th:each="department : ${departments}">
                    <option th:value="${department.id}" th:text="${department.name}"></option>
                </th:block>
            </select>
        </div>
        <div class="col-6">
            <label for="start-date" class="form-label">Project Start Date</label>
            <input type="date" class="form-control" id="start-date" th:field="*{startDate}">
        </div>
        <div class="col-6">
            <label for="end-date" class="form-label">Expected End Date</label>
            <input type="date" class="form-control" id="end-date" th:field="*{endDate}">
        </div>
        <div class="col-12">
            <label for="projDescription" class="form-label">Project Description</label>
            <textarea class="form-control" id="projDescription" th:field="*{projDescription}"
                      placeholder="Give a brief description of the project">Description</textarea>
        </div>

        <!--RESOURCE-->
        <div id="resource-container">
            <div class="col-6">
                <label for="resourceName1" class="form-label">Resource1 Name</label>
                <input type="text" class="form-control" id="resourceName1" placeholder="Iron Rods ,Cement...."
                       name="resourcesdto[0].resourceName">
            </div>

            <div class="col-6">
                <label for="quantity1" class="form-label">Resource1 Quantity</label>
                <input type="text" class="form-control" id="quantity1" placeholder="100kgs, 50 tonnes"
                       name="resourcesdto[0].quantity">
            </div>

            <div class="col-12">
                <label for="resDescription1" class="form-label">Resource1 Description</label>
                <textarea class="form-control" id="resDescription1" name="resourcesdto[0].resDescription"
                          placeholder="Give a brief description of the project">Description</textarea>
            </div>

        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>

    </form>
</div>


<script>
    let a = 1;
    const form = document.getElementById('form');
    const addResDiv = document.createElement('div');
    addResDiv.classList.add('col-6');
    const addResource = document.createElement('button');
    addResource.classList.add('btn-primary');
    addResource.classList.add('btn');
    addResource.textContent = 'Add Resource';
    addResDiv.appendChild(addResource);
    document.body.appendChild(addResDiv)
    addResource.addEventListener('click', (event) => {
        event.preventDefault();
        const newDiv = document.createElement('div');

        const newNameDiv = document.createElement('div');
        const newNameLabel = document.createElement('label');
        newNameLabel.textContent = 'Resource' + a + ' Name';
        const newNameInput = document.createElement('input');
        newNameInput.type = 'text';
        newNameInput.name = 'resourcesdto[' + a + '].resourceName';
        newNameInput.placeholder = 'Iron Rods ,Cement....';


        // append
        newNameDiv.appendChild(newNameLabel);
        newNameDiv.appendChild(newNameInput);
        // Quantity
        const newQtDiv = document.createElement('div');
        const newQtLabel = document.createElement('label');
        newQtLabel.textContent = 'Resource' + a + ' Quantity';
        const newQtInput = document.createElement('input');
        newQtInput.type = 'text';
        newQtInput.name = 'resourcesdto[' + a + '].quantity';
        newQtInput.placeholder = '100kgs, 50 tonnes';
        //append
        newQtDiv.appendChild(newQtLabel);
        newQtDiv.appendChild(newQtInput);
        // Description
        const newDesDiv = document.createElement('div');
        const newDesLabel = document.createElement('label');
        newDesLabel.textContent = 'Resource' + a + ' Description';
        const newDesInput = document.createElement('input');
        newDesInput.type = 'text';
        newDesInput.name = 'resourcesdto[' + a + '].resDescription';
        newDesInput.placeholder = 'Description';
        //append
        newDesDiv.appendChild(newDesLabel);
        newDesDiv.appendChild(newDesInput);

        newDiv.appendChild(newNameDiv);
        newDiv.appendChild(newQtDiv);
        newDiv.appendChild(newDesDiv);
        form.appendChild(newDiv);
        a++;
    });
</script>


</body>

</html>